<table mat-table [dataSource]="productSource" class="table-width">

  <!-- select product -->
  <ng-container matColumnDef="login">
    <th mat-header-cell *matHeaderCellDef>Login
    </th>
    <td mat-cell *matCellDef="let element ">
    {{element.login}}
    </td>
  </ng-container>
  <!-- Position Column -->

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>id.</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <!-- asin Column -->
  <ng-container matColumnDef="node_id">
    <th mat-header-cell *matHeaderCellDef>node_id</th>
    <td mat-cell *matCellDef="let element">{{ element.node_id }}</td>
  </ng-container>

  <!-- link Column -->
  <ng-container matColumnDef="avatar_url">
    <th mat-header-cell *matHeaderCellDef>avatar_url</th>
    <td mat-cell *matCellDef="let element">{{ element.avatar_url }}</td>
  </ng-container>
  <!-- link Column -->
  <ng-container matColumnDef="gravatar_id">
    <th mat-header-cell *matHeaderCellDef>gravatar_id</th>
    <td mat-cell *matCellDef="let element">{{element.gravatar_id}}</td>
  </ng-container>

  <ng-container matColumnDef="url">
    <th mat-header-cell *matHeaderCellDef>url</th>
    <td mat-cell *matCellDef="let element">{{element.url}}</td>
  </ng-container>
  <ng-container matColumnDef="html_url">
    <th mat-header-cell *matHeaderCellDef>html_url</th>
    <td mat-cell *matCellDef="let element">{{element.html_url}}</td>
  </ng-container>
  <ng-container matColumnDef="followers_url">
    <th mat-header-cell *matHeaderCellDef>followers_url</th>
    <td mat-cell *matCellDef="let element">{{element.followers_url}}</td>
  </ng-container>
  <ng-container matColumnDef="following_url">
    <th mat-header-cell *matHeaderCellDef>following_url</th>
    <td mat-cell *matCellDef="let element">{{element.following_url}}</td>
  </ng-container>
  <ng-container matColumnDef="gists_url">
    <th mat-header-cell *matHeaderCellDef>gists_url</th>
    <td mat-cell *matCellDef="let element">{{element.gists_url}}</td>
  </ng-container>
  <ng-container matColumnDef="starred_url">
    <th mat-header-cell *matHeaderCellDef>starred_url</th>
    <td mat-cell *matCellDef="let element">{{element.starred_url}}</td>
  </ng-container>
  <ng-container matColumnDef="organizations_url">
    <th mat-header-cell *matHeaderCellDef>organizations_url</th>
    <td mat-cell *matCellDef="let element">{{element.organizations_url}}</td>
  </ng-container>
  <ng-container matColumnDef="repos_url">
    <th mat-header-cell *matHeaderCellDef>repos_url</th>
    <td mat-cell *matCellDef="let element">{{element.repos_url}}</td>
  </ng-container>
  <ng-container matColumnDef="events_url">
    <th mat-header-cell *matHeaderCellDef>events_url</th>
    <td mat-cell *matCellDef="let element">{{element.events_url}}</td>
  </ng-container>
  <ng-container matColumnDef="received_events_url">
    <th mat-header-cell *matHeaderCellDef>received_events_url</th>
    <td mat-cell *matCellDef="let element">{{element.received_events_url}}</td>
  </ng-container>
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef>type</th>
    <td mat-cell *matCellDef="let element">{{element.type}}</td>
  </ng-container>
  <ng-container matColumnDef="site_admin">
    <th mat-header-cell *matHeaderCellDef>site_admin</th>
    <td mat-cell *matCellDef="let element">{{element.site_admin}}</td>
  </ng-container>
  <ng-container matColumnDef="subscriptions_url">
    <th mat-header-cell *matHeaderCellDef>subscriptions_url</th>
    <td mat-cell *matCellDef="let element">{{element.subscriptions_url}}</td>
  </ng-container>


  <!-- image Column -->




  <tr mat-header-row *matHeaderRowDef="displayedColumnsupc"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumnsupc"></tr>
</table>
